/*----------------------------
Basic Styles
-----------------------------*/
*{
    !important; cursor: url("../Img/Hello_Normal.cur"),default;
}

.vse_zaglavnie{
    text-transform: capitalize;
}
.black{
    color:black;
}
.white{
    color: white;
    text-shadow: 2px 2px 1px #222,
                 -2px -2px 1px #222;
}
.brown{
    color: #751d00;
}
.blue{
    color: #1ac2ff;
}
.wheat{
    color: wheat;
    text-shadow: 2px 2px 1px #222,
    -2px -2px 1px #222;
}
/*----------------------------
Header Styles
-----------------------------*/
header{
    min-width:100%;
    background-image: url("https://images.wallpaperscraft.ru/image/kot_chernyj_risunok_noch_apofiss_94590_1920x1080.jpg");
    background-repeat: no-repeat;
    background-position: top;
}
#menushka{
    filter: contrast(500%);
}
.nav-link{
    font-size: 50px;
    font-family: "Russo one";
    color: #461648;
    background: linear-gradient(to bottom right, purple, crimson, orangered, gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 0 0 10px rgba(0,0,0,.7);
    border-radius: 0px;
    border: 3px solid transparent;
    border-image: linear-gradient(to top left, purple, crimson, orangered, gold);
    border-image-slice: 1;
    filter: grayscale(0.5) blur(1px);
}
.nav-link:hover{
    color: #ffffff;
    box-shadow: 0 10px 100px rgba(0,0,0,.7);
    filter: contrast(200%) grayscale(1) blur(0px);
    cursor: url("../Img/Hello_Link.cur"), pointer;
}
img[alt="logo"]{
    width:100px;
    filter: drop-shadow(3px 3px 3px white)
            drop-shadow(-3px -3px 3px white);
}
img[alt="logo"]:hover{
    cursor: url("../Img/Hello_Background.cur"), pointer;
    filter: drop-shadow(3px 3px 3px #5cffdb)
    drop-shadow(-3px -3px 3px #5cffdb);
}
.fa-bars{
    color:white;
}

hr{
    background-color: #222;
    height:1px;
    margin: 0;
    padding: 0;
    filter: blur(3px);
}

*[role="banner"]{
    background: hsla(280, 50%, 50%, 0.3);
}
*[role="banner"] h1{
    padding-top:150px;
    font-family: "Pacifico";
    color: #fffebb;
    text-shadow: 3px 3px 1px #000;
    letter-spacing: 2px;
}
.nenada{
    padding-bottom: 30px;
    overflow: hidden;
    position: relative;
}
@keyframes sonya {
    0%{
        color: wheat;
        filter: blur(1px);
        -webkit-transform: scaleX(1.1) rotate(10deg);
        -moz-transform: scaleX(1.1) rotate(10deg);
        -ms-transform: scaleX(1.1) rotate(10deg);
        -o-transform: scaleX(1.1) rotate(10deg);
        transform: scaleX(1.1) rotate(10deg);
    }
    20%{
        color: #ff0c00;
        filter: contrast(100%);
        -webkit-transform: scaleY(0.9);
        -moz-transform: scaleY(0.9);
        -ms-transform: scaleY(0.9);
        -o-transform: scaleY(0.9);
        transform: scaleY(0.9);
    }
    40%{
        color: wheat;
        filter: blur(1px);
        -webkit-transform: scaleX(1.1) rotate(-10deg);
        -moz-transform: scaleX(1.1) rotate(-10deg);
        -ms-transform: scaleX(1.1) rotate(-10deg);
        -o-transform: scaleX(1.1) rotate(-10deg);
        transform: scaleX(1.1) rotate(-10deg);
    }
    60%{
        color: #ff0c00;
        filter: contrast(100%);
        -webkit-transform: scaleY(0.9);
        -moz-transform: scaleY(0.9);
        -ms-transform: scaleY(0.9);
        -o-transform: scaleY(0.9);
        transform: scaleY(0.9);
    }
    80%{
        color: wheat;
        filter: blur(1px);
        -webkit-transform: scaleX(1.1);
        -moz-transform: scaleX(1.1);
        -ms-transform: scaleX(1.1);
        -o-transform: scaleX(1.1);
        transform: scaleX(1.1);
    }
    100%{
        color: #ff0c00;
        filter: contrast(100%);
        -webkit-transform: scaleY(0.9);
        -moz-transform: scaleY(0.9);
        -ms-transform: scaleY(0.9);
        -o-transform: scaleY(0.9);
        transform: scaleY(0.9);
    }
}
.sonya{
    font-family: "Russo one";
    font-size:100px;
    text-shadow: 5px 3px 3px #000,
                -3px -1px 3px #000;
    animation: sonya 3s ease-in-out infinite alternate;
}
@keyframes heart {
    0%{
        filter: blur(1px);
        -webkit-transform: scale(3) ;
        -moz-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
        transform: scale(3);
    }
    20%{
        filter: contrast(100%);
        -webkit-transform: scale(8) ;
        -moz-transform: scale(8);
        -ms-transform: scale(8);
        -o-transform: scale(8);
        transform: scale(8);
    }
    40%{
        filter: blur(1px);
        -webkit-transform: scale(3) ;
        -moz-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
        transform: scale(3);
    }
    60%{
        filter: contrast(100%);
        -webkit-transform: scale(8) ;
        -moz-transform: scale(8);
        -ms-transform: scale(8);
        -o-transform: scale(8);
        transform: scale(8);
    }
    80%{
        filter: blur(1px);
        -webkit-transform: scale(3) ;
        -moz-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
        transform: scale(3);
    }
    100%{
        filter: contrast(100%);
        -webkit-transform: scale(8) ;
        -moz-transform: scale(8);
        -ms-transform: scale(8);
        -o-transform: scale(8);
        transform: scale(8);
    }
}
.fa-heart{
    margin-left: 10%;
    color: red;
    -webkit-animation: heart 3s ease-in infinite alternate;
    -o-animation: heart 3s ease-in infinite alternate;
    animation: heart 3s ease-in infinite alternate;
}
#pechat1{
    padding-bottom: 150px;
    text-shadow: 1px 1px 1px #222;
    width:100%;
    color:wheat;
    font-size:50px;
    font-family: "Pacifico";
}
/*----------------------------
Main Styles
-----------------------------*/
.sect1{
    background-color: #ebf5b4;
}
@keyframes osone {
    0%{
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(55deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg);
        letter-spacing: 1px;
    }

    100%{
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
        letter-spacing: 15px;
    }
}
#osone,#galereya,#game{
    padding: 15px;
    font-size:50px;
    padding-top:15px;
    font-family: "Russo one";
    color: #4b1630;
    text-shadow: 1px 1px 1px #000000;
    animation: osone 3s ease-in infinite alternate;
}
.about_sonya{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size:40px;
    font-family: "Pacifico";
    color: #4b1630;
    text-shadow: 1px 1px 1px #000000;
    letter-spacing: 2px;
}
.pa_sonya{
    font-size:30px;
    padding-top:10px;
    font-family: "Pacifico";
    color: #222;
    text-shadow: 1px 1px 1px #000000;
    letter-spacing: 2px;
}
.sect2 hr{
    background-color: #000;
    height:1px;
    margin: 0;
    padding: 0;
    filter: blur(2px);
}
.sect2:first-child{
    background-color: #c5fbee;
}
.sect2:nth-child(2){
    background-color: #ccfbb5;
}
.sect2:nth-child(3){
    background-color: rgba(247, 188, 247, 0.62);
}
.table1_row{
    font-size:20px;
    color: #222;
    font-family:"Pacifico";
    font-weight:bold;
    background-color: #dbf5f0;
    word-spacing:5px;
}

.carousel{
    background-color: #6c1355;
}
.carousel_item{
    margin: 25% 0 25% 0;
}
.col-4:first-child .carousel_item{
    margin-left: 20%;
}
.col-4:last-child .carousel_item{
    margin-right: 20%;
}
.carousel-item h3{
    font-family:"Perifico";
    font-size:30px;
    text-shadow: 3px 3px 3px black;
}

.col-4:nth-of-type(odd) .carousel_item{
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
}
.col-4:nth-of-type(even) .carousel_item{
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.carousel_item img,.gallery_item img{
    -webkit-background-clip: text;
    box-shadow: 5px 5px 100px rgb(255, 0, 248);
    border-radius: 0px;
    border: 15px solid transparent;
    border-image: linear-gradient(to top left, #ffffff, #dcdb6d, #f6ff9a, #ffffff);
    border-image-slice: 1;
    cursor: url("../Img/Hello_Background.cur"), pointer;
}

.carousel-control-prev,.carousel-control-next{
    width:10%;
    background-color: rgba(0, 146, 255, 0.28);
    cursor: url("../Img/cursor1.cur"), pointer;
}
.chetofignia{
    background-color: #ffccc6;
}

#option-one,#option-two {
    position: absolute;
    visibility: hidden;
    display: none;
}
label{
    font-family: "Russo one";
    color: #000;
    background-color: #fff;
    display: inline-block;
    cursor: url("../Img/Hello_Background.cur"), pointer;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    margin: 0;
}
#option-one:checked+label,#option-two:checked+label{
    color: #fff;
    background-color: #222;
}
#option-two+label{
    border-left: solid 3px #222;
}
#option-one+label{
    border-right: solid 3px #222;
}
.radio-group {
    border: solid 3px #332f35;
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}

#slider_photo{
    display: block;
}
#gallery{
    display: none;
    background-color: rgba(173, 255, 153, 0.57);
}
.gallery_item{
    margin: 50px;
}
#gallery .col-12:nth-child(odd) .gallery_item{
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
}
#gallery .col-12:nth-child(even) .gallery_item{
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.gallery_item img{
    box-shadow: 5px 5px 50px rgb(255, 0, 248);
    border-radius: 0px;
    border: 10px solid transparent;
    border-image: linear-gradient(to top left, #000000, crimson, orangered, #000000);
    border-image-slice: 1;
}

.chetogame{
    overflow: hidden;
    background-color: #8eabff;
}
.gamecont{
    overflow: hidden;
    background-image: url("../Img/bgc_game.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
}
#containerr {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    width: 1280px;
    display:inline-block;
}
#containerr li{
    background-color: #e2d6ff;
    padding: 0;
    float: left;
    margin: 10px;
    list-style: none;
    outline: solid;
    width: 150px;
    height: 150px;
}
#containerr ol li:nth-of-type(4n){
    margin-right: 40%;
}
#containerr img {
    width: 100%;
    height: 100%;
}
.dopp{
    vertical-align: top;
    display: inline-block;
}
#live{
    color: #000000;
    font-weight:bold;
    font-size:50px;
}
#score{
    color: #625eff;
    font-weight:bold;
    font-size:50px;
}
/*----------------------------
Footer Styles
-----------------------------*/
footer{
    text-align: center;
    background-color: #222;
    height:200px;
    overflow: hidden;
}
footer .row{
    margin-top: 60px;
}
.author-link .badge,.vladel .badge,.author-link a,.son_fot{
    display: block;
    font-size: 35px;
}
.author-link a{
    color: #f6ffd3;
    text-shadow: 2px 2px 4px #ffffff;
}
.son_fot{
    color: #f5deb4;
}
.author-link a:hover{
    text-decoration: underline;
}
/*----------------------------
Медиа запросы
-----------------------------*/
@media screen and (min-width:1920px){
    header{
        background-size: 100%;
    }
}
@media screen and (max-width:1415px){
    #containerr{
        margin-top: 0;
        margin-left: 20%;
        width:1000px;
        display: block;
    }
    .dopp{
        display: block;
        text-align: center;
    }
    #containerr li{
        margin: 10px;
        width: 105px;
        height: 105px;
    }
    #containerr ol li:nth-of-type(4n){
        margin: 10px;
    }
    #containerr ol li:nth-of-type(2n){
        margin-right: 20%;
    }
}
@media screen and (max-width:992px){
    *[role="banner"] h1{
        padding-top:50px;
    }
    #pechat1 {
        padding-bottom: 50px;
    }
    #gallery{
        display: block;
    }
    #slider_photo{
        display: none;
    }
    .gamecont{
        background-attachment: scroll;
        background-position: top;
        background-size: cover;
    }
    #containerr{
        margin-left: 10%;
        width:500px;
        display: block;
    }
    .dopp{
        display: block;
        text-align: center;
    }
    #containerr li{
        margin: 10px;
        width: 75px;
        height: 75px;
    }
    #containerr ol li:nth-of-type(4n){
        margin: 10px;
    }
    #containerr ol li:nth-of-type(2n){
        margin: 10px;
    }
    #live{
        color: #000000;
        font-weight:bold;
        font-size:25px;
    }
    #score{
        color: #625eff;
        font-weight:bold;
        font-size:25px;
    }

    .author-link .badge,.vladel .badge,.author-link a,.son_fot{
        font-size: 25px;
    }
}
@media screen and (max-width:556px){
    #containerr{
        margin-left: 0%;
        width:500px;
        display: block;
    }
    .author-link .badge,.vladel .badge,.author-link a,.son_fot{
        font-size: 15px;
    }
}
